<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--link href="..\static\style.css" rel="stylesheet"-->
    <title>login</title>
  </head>
  <body>
    <a href='/'>back to main page</a>
    <br>
    <a href='/login'>jump to login page</a>
    {% with messages=get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        <ul>
      {% endif %}
    {% endwith %}
    <h1>register and login</h1>
    <form action="/register_submit" method="POST">
      <p>create your account with Email</p>
      <input type='text' name="username" placeholder="your Email">
      <p>your name:</p>
      <input type='text' name="name">
      <p>your phone number:</p>
      <input type='text' name="Tel">
      <p>choose a password</p>
      <input type='password' name="password" placeholder="set your password">
      <p>confirm your password</p>
      <input type='password' name="confirm" placeholder="confirm your password">
      <input type='submit' value="submit">
    </form>
  </body>
</html>    
