{% extends "parts/base.html" %}

{% block title %}login{% endblock title %}

{% block page_content %}
{{ super() }}
    <a href='/member'>back to member page</a>
    <br>
    <a href='/member/register'>jump to registration page</a>
    {% with messages=get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>login and order</h1>
    <form action='/member/login_submit' method='POST'>
      <p>account</p>
      <input type="text" name="username" placeholder="your account">
      <p>password</p>
      <input type='password' name="password" placeholder="your password">
      <input type='submit' value='submit'>
    </form>
{% endblock page_content %}
