<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <style>
    .navbar-dark .navbar-nav .nav-link {
      color: white;
    }
  </style>
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Member
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/member">member list</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order History
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/purchase">Order History index</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/purchase/Taipei">Taipei</a></li>
              <li><a class="dropdown-item" href="/purchase/Kaohsiung">Kaohsiung</a></li>
              <li><a class="dropdown-item" href="/purchase/Tainan">Tainan</a></li>
              <li><a class="dropdown-item" href="/purchase/Taoyuan">Taoyuan</a></li>
              <li><a class="dropdown-item" href="/purchase/Taichung">Taichung</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/menu">show Menu</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/menu">edit Menu</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Supplier
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/ingredient">show ingredient</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Purchase Monthly Income
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/purchase">purchase function index</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/purchase/Taipei">Taipei</a></li>
              <li><a class="dropdown-item" href="/purchase/Kaohsiung">Kaohsiung</a></li>
              <li><a class="dropdown-item" href="/purchase/Taoyuan">Taoyuan</a></li>
              <li><a class="dropdown-item" href="/purchase/Taichung">Taichung</a></li>
              <li><a class="dropdown-item" href="/purchase/Tainan">Tainan</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/member">登入</a>
        </li>
      </ul>
    </div>
</nav>